output.dir=../out
output.format=RTF
output.launchViewer=true
param.docTitle.value=Demo Documentation
param.fmt.page.breakBefore.class.value=true
param.fmt.page.breakBefore.package.value=true
param.windowTitle.value=DocFlex/Doclet Demo
template.1=../templates/javadoc/PlainDoc.tpl
template.2=../templates/javadoc/FramedDoc.tpl
template.3=../templates/JavadocPro/FramedDoc.tpl
